@import url(./color.css);

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}

ul{
    list-style-type: none;
}


header{
    width: 100%;
    background-color: var(--blue);
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    display: flex;
    justify-content: center;
    position: relative;
    
}
nav{
    display: none;
}

.main-img img{
    min-width: 300px;
    width: 100%;
    min-height: 185px;
    height: 100%;
    object-fit: cover;
    margin: auto;
    border-radius: 15px;
}

.main-img{
    position: absolute;
    top: 135px;
    left: 50%;
    transform: translate(-50%);
    z-index: 2;
}

.container{
    padding-top: 40px;
    padding-bottom: 90px;
}

.container img{
    max-width: 97px;
    width: 100%;
    max-height: 55px;
    height: 100%;

}



.title{
    width: 100%;
}
.title h1 {
    padding-top: 16px;
    font-family: helvetica;
    font-weight: bold;
    font-size: 18px;
    line-height: 23px;
    color: var(--black);
    text-transform: uppercase;
    
}

.img-section{
    padding-top: 220px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
}


.txt{
    padding-top: 40px;
    width: 90%;
    margin: auto;
}

.txt p{

    font-family: helveticaO;
    font-size: 14px;
    line-height: 26px;
}

.more{
    max-width: 335px;
    width: 100%;
    margin: auto;
    padding-top: 12px;
}
.more button{
    max-width: 334px;
    width: 100%;
    background-color: var(--blue);
    border: none;
    color: var(--white);
    font-family: helvetica;
    font-weight: bold;
    text-align: center;
    padding: 20px 0;
    border-radius: 28px;
    margin-bottom: 40px;

    
}

footer{
    background-color: var(--blue);
    width: 100%;   
     display: flex;
    flex-direction: column;
    
}


.footer-txt{
    max-width: 334px;
    width: 100%;
    margin: auto;
    padding-top: 40px;
    order: 1;
}
.footer-txt h2{
    
    color: var(--white);
    font-family: helvetica;
    font-weight: bold;
    font-size: 18px;
    line-height: 23px;
    text-transform: uppercase;

}
.footer-txt p{
    display: none;
}
.footer-div{
    order:2;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.form-holder{
    display: flex;
    flex-direction: column;
    max-width: 334px;
    width: 100%;
    padding-top: 30px;
    margin: auto;
    order: 1;
    
}


.form-row{
    
    display: flex;
    flex-direction: column;
    gap: 21px;
    padding-top: 40px;
}
.form-row label{
    color: var(--white);
    font-family: helvetica;
    font-weight: bold;
    font-size: 13px;
    line-height: 16px;
    text-transform: uppercase;
}


input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number]{
    -moz-appearance: textfield;
}


.form-row input{
    background-color:var(--blue);
    border: none;
    border-bottom: 1px solid rgb(67, 64, 64);
    outline: none;
    font-size: 18px;
    line-height: 19px;
    color: var(--white);
    text-overflow: wrap;
}
.submit{
    margin-top: 30px;
    width: 100%;
    padding: 18px;
    background-color:var(--white);
    border: none;
    border-radius: 28px ;
    color: var(--black);
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
}

.iframe-container{
    max-width: 334px;
    width: 100%;
    margin: auto;
    order: 2;
   
}
iframe{
    max-height: 300px;
    height: 100%;
    width: 100%;
    border-radius: 15px ;
    margin-top: 58px;
}
.contact-us{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 16px;
    padding-top: 44px;
    order: 3;


}
.two_pic{
    display: flex;
    align-items: center;
    gap: 12px;
    

}
.two_pic a{
    color: var(--white);
    font-family: helvetica;
    font-size: 13px;
    font-weight: bold;
    line-height: 16px;
}

.img-one{
    display: none;
}
.img-two{
    width: 20px;
    
}

.last-div{
    order: 4;
    padding-top: 95px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
    color: var(--white);

}

.last-div :nth-child(1){
    order: 2;
}
.menu-btn{
    order: 5;
    margin-top: 30px;
    width: 100%;
}
.menu-crc{
    margin: auto;
    width: 60px;
    height: 60px;
    border: 1px solid var(--white);
    border-radius: 50%;
    position: relative;
    order: 3;
    
}

.menu-crc :nth-child(1){
    width: 20px;
    height: 1px;
    background-color: var(--white);
    position: absolute;
    top: 25px;
    left: calc(50% - 10px);
    z-index: 10;
}
.menu-crc :nth-child(2){
    width: 20px;
    height: 1px;
    background-color: var(--white);
    position: absolute;
    top: 30px;
    left: calc(50% - 10px);
    z-index: 10;
}
.menu-crc :nth-child(3){
    width: 20px;
    height: 1px;
    background-color: var(--white);
    position: absolute;
    top: 35px;
    left: calc(50% - 10px);
    z-index: 10;
}


@media (width >= 768px){
    header{
        width: 100%;
        background-color: var(--blue);
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
        
    }
    .container{
        width: 100%;
        padding-top: 40px;
        padding-bottom: 90px;
        position: relative;
        display: flex;
        justify-content: space-evenly;
        gap: 30px;
        align-items: center;
    }
    nav{
        display: inline-block;
    }
    .list-container{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        gap: 10px;
    }
    .btn{
        padding: 12px;
        background-color:var(--white);
        border: none;
        border-radius: 28px ;
        color: var(--black);
        font-weight: bold;
        font-size: 14px;
        line-height: 16px;

    }
    .list-container a{
        color: var(--white);
        font-family: helvetica;
        font-size: 16px;
        line-height: 18px;
        text-transform: uppercase;
    }
    .img-section{
        padding-top: 280px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        gap: 10px;
    }
    
    .img-section img{
        max-width: 20%;
        width: 100%;
    
    }
    footer{
        flex-direction: column;
        justify-content: start;
        
    }
    .footer-txt{
        max-width: 463px;
        width: 100%;
        margin-left: 100px;
        padding-top: 40px;
        order: 1;
    }
    .footer-txt p{
        padding-top: 30px;
        display: block;
        color: var(--white);
        font-family: helveticaO;
        font-size: 16px;
        line-height: 26px;
        text-transform: uppercase;
    }
    .footer-div{
        
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;

    }

    .form-holder{
        order: 2;
        
    }

    iframe{
        box-shadow: -5px 5px 1px 1px white;
    }
    .menu-btn{
        display: none;
        }

}

@media ((width >= 1024px)){

    .list-container{
        gap: 50px;
    }
    .list-container a:hover{
        text-decoration: underline;
        
    }
    .img-section{
        padding-top: 500px;

        
    }
    .img-section img{
        max-width: 20%;
        width: 100%;
    
    }
    .title h1{
        font-size: 28px;
        font-weight: bold;
        line-height: 34px;
   
    }
    .txt{
        padding-top: 40px;
        max-width: 951px;
        width: 100%;
        margin: auto;
    }
    .contact-us{
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        gap: 50px;
        padding-top: 44px;
        margin-left: 80px;
    
    }
    
.two_pic{
    display: flex;
    align-items: center;
    gap: 12px;
    position: relative;

}
.two_pic a{
    color: var(--white);
    font-family: helvetica;
    font-size: 22px;
    font-weight: bold;
    line-height: 27px;
    
}

.img-one{
    width: 60px;
    display: block;
    position: relative;
    z-index: 1;

}
.img-two{
    fill: red;
    width: 20px;
    position: absolute;
    top: 22px;
    left: 21px;
    z-index: 2;
}

.last-div{
    padding: 95px 30px 0 30px;
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    justify-content: space-between;
    color: var(--white);

}
.heart{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: row-reverse;
    gap:40px;
}


.menu-btn{
display: none;
}
}